@font-face {
	font-family: prog;
	src: url(stuff/ProggyTinySZ_0.ttf);
}

body {
	font-family: prog; font-size: 32px; background-color: #141414;
}

a:link {
	text-decoration: none; color: #86F1CF;
}

a:visited {
	color: #86F1CF;
}

#gmail {
	position: absolute; top: 50%; left: 15%;
}

#insite {
	position: absolute; top: 50%; left: 45%;

}

#canvas {
	position: absolute; top: 50%; left: 75%;

}