@font-face {
	font-family: prog;
	src: url(stuff/ProggyTinySZ_0.ttf);
}

@font-face {
	font-family: kroe;
	src: url(stuff/kroeger-0853.ttf);
}


body {
	font-family: prog; font-size: 32px; background-color: #141414;
}

a:link {
	text-decoration: none; color: #86F1CF;
}

a:visited {
	color: #86F1CF;
}

#title {
	position: absolute; color: #B64050; font-family: kroe; 
	font-size: 30px;
}

#gmail {
	position: absolute; top: 50%; left: 15%;
}

#insite {
	position: absolute; top: 50%; left: 45%;

}

#canvas {
	position: absolute; top: 50%; left: 75%;

}